<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.couchbase.cblite.cbliteconsole"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" />

    <application>
        <activity
            android:name="com.couchbase.cblite.cbliteconsole.AllDocsActivity"
            android:label="@string/title_activity_all_docs" >
        </activity>
    </application>

</manifest>
